#statementBody {
  height: 500px;
  background-image: url("../../assets/chris.png");
  background-repeat: no-repeat;
  background-position: 75% 75%;
  padding-top: 10px;
}

#personalStatement {
  opacity: 0;
  transition: 10s;
  font-size: 50px;
  font-family: 'Major Mono Display', monospace;
}
