#statementBody {
  height: 500px;
  background-image: url("../../assets/chris.png");
  background-repeat: no-repeat;
  background-position: 75% 75%;
  text-align: center;
}

#personalStatement {
  opacity: 0;
  font-size: 50px;
  transition: 10s;
  font-family: 'Major Mono Display', monospace;
}
